// This file is part of the materials accompanying the book
// "The Elements of Computing Systems" by Nisan and Schocken, 
// MIT Press 2004. Book site: http://www.idc.ac.il/tecs
// File name: projects/07/StackArithmetic/SimpleAdd/SimpleAdd.vm.
// Version: beta 1.4.

// Pushes and adds two constants.
push constant 7
push constant 8
add
